<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to the Main Page</h1>

    <ul>
        <li><a href="http://localhost:{{port}}/movie">영화</a></li>
        <li><a href="http://localhost:{{port}}/user">사용자 정보</a></li>
        <li><a href="http://localhost:{{port}}/prodnco">제작사 정보</a></li>
        <li><a href="http://localhost:{{port}}/review">리뷰</a></li>
        <li><a href="http://localhost:{{port}}/discount">할인 공지</a></li>
        <li><a href="http://localhost:{{port}}/genre">장르</a></li>
        <li><a href="http://localhost:{{port}}/payment">결제</a></li>
        <li><a href="http://localhost:{{port}}/user/logout">로그아웃</a></li>
    </ul>
</body>
</html>
